@page "/fetchfines"

@using Notes.Core;

@inject INoteServices _db;
<div style="max-width: 1180px; 
	margin: 0 auto">
<h1 class="govuk-heading-l">Issued Fines</h1>

<p>TV licence fines issued.</p>

@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
        <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Reference</th>
                <th>Address</th>
                <th>Fine Amount</th>
                <th>Amount Repaid</th>
                <th>Date Issued</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fine in notes)
            {
                <tr>
                    <td>@fine.PersonName</td>
                    <td>@fine.Status</td>
                    <td>@fine.Reference</td>
                    <td>@fine.Address1</td>
                    <td>£@fine.Amount</td>
                    <td>£@fine.AmountRepaid</td>
                    <td>@fine.FineIssuedDate</td>

                    <td><button @onclick="()=>Delete(fine)">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
    
    <div style="padding-top:150px;margin-bottom:250px;">

    <input placeholder="Name" @bind="personName" />
    <input placeholder="Address" @bind="address1" />
    <input placeholder="Fine amount" @bind="amount" />

    <button @onclick="AddNote">Add Fine</button>
</div>
}
</div>

@code {
    private List<Note> notes;
    private string personName;
    private string address1;
    private double amount;


    protected override async Task OnInitializedAsync()
    {
        notes =  _db.GetNotes();
        await Task.Delay(1000);
    }

    private void AddNote()
    {
        if (!string.IsNullOrWhiteSpace(personName) && !string.IsNullOrWhiteSpace(address1))
        {
            var ticks = new DateTime(2021,9,25).Ticks;
            var ans = DateTime.Now.Ticks - ticks;
            var reference = ans.ToString("x");

            var noteToAdd = new Note {
                Amount = amount, 
                PersonName = personName, 
                Status = "unpaid",
                Address1 = address1,
                Reference = reference,
                FineIssuedDate = System.DateTime.Now
                };

            _db.AddNote(noteToAdd);
            personName = string.Empty;
            address1 = string.Empty;
            amount = 0;

            notes =  _db.GetNotes();

        }
        
    }

    private void  Delete(Note note)
    {
         _db.DeleteNote(note.Id);
        notes = _db.GetNotes();
    }

}



